.App {
  text-align: center;
}
.ana {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
  border-top: 1px solid white;
}
.kardes {
  width: 100%;
  text-align: left;
}

#iconImg {
  width: 20px;
}
.asd {
  overflow-y: auto;
  height: 80vh;
}
button {
  border-radius: 50%;
  transition: 1s all ease;
}
